// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// ここから自分で設定

$font-color-default: #495057;
$main-color: #1DA1F2;
$header-color: #F8F8F8;
$footer-color:#383838;
$not_edit-color : #E6ECF0;
$sm-menu-color : #777;

// containerクラスを作り、それに当てる　共通クラス
$site-width: 980px;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;

$font-family: 'Hiragino Maru Gothic ProN';

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$header-height: 120px;
$header-height-sm: 60px;

// マップ型変数
$breakpoints:(
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

// smをデフォルトの引数
@mixin mq($breakpoint: sm){
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// base
html, body{
  width:100%;
  color: $font-color-default;
  font-size: $font-size_default;
  line-height: 1.6;
  font-family: $font-family;
  background: #fff;
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

p,a{
  // フォントをみやすく表示する
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a{
  color:$font-color-default;
  text-decoration: nona;
  // ホバeした時にフワッとなる
  transition: .3s;
}
a:hover{
  // TOOD：ホバーした時の色を設定する
  color:$font-color-default;
  transition: .3s;
}

img{
  width:100%;
}
ul{
  padding:0;
  padding-top: 0;;
  padding-right: 0;
  padding-bottom: 0;
  padding-right: 0;
  margin:0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
li{
  list-style: none;
}

// header-------------------------------
.header{
  box-sizing: border-box;
  width:100%;
  height:$header-height;
  color:$font-color-default;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $space_xxl;
  padding-right: $space-xxl;
  background: $header-color;
  position:fixed;
  z-index:2;

  @include mq() {
    height: $header-height-sm;
  }
  
  &-img_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    & img{
      width:auto;
      height:110px;
      margin-right: $space_xl;

      @include mq() {
        height: 50px;
      }

    }  
  }
  &-nav{
    margin:0;
    &-menu{
      display:flex;
      align-items: center;
      justify-content:flex-end;
      @include mq(){
        display: none;
      }
      &-item{
        margin-left: $space_3l;
        cursor: pointer;
        // TODO : 今いるページのみ下線を引く様にする
        border-bottom: 4px solid $main-color;
      }
    }
    &-sm{
      display:none;
      position: absolute;
      top:0;
      right:-100%;
      background: #000000;;
      width:100%;
      height:100vh;
      padding-top: 80px;
      transition:.5s;
      opacity: 0.7;
      text-align: right;
      padding-right: $space_xxl;
      &-menu-item{
          cursor: pointer;
          margin-bottom: $space_l;
          &-link{
            color:#fff;
            font-weight: 800;
          }
      }
      @include mq(){
        display:block;
        &.active{
          transition: 0.5s;
          transform: translateX(-100%);
          z-index: 2;
        }
      }
    }
  }
  &-menu-trigger{
    display: none;
    @include mq(){
      display:inline-block;
    }
    transition: all .4s;
    box-sizing: border-box;
    position: relative;
    width:40px;
    height:32px;
    z-index: 3;
    span{
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: absolute;
      left:0;
      height:4px;
      width:100%;
      border-radius: 4px;
      background: $sm-menu-color;
      &:nth-of-type(1){
        top:0;
      }
      &:nth-of-type(2){
        top:14px;
      }
      &:nth-of-type(3){
        bottom:0;
      }
    }
    &.active span{
      &:nth-of-type(1){
        transform: translateY(12px) rotate(-45deg);
      }
      &:nth-of-type(2){
        opacity:0;
      }
      &:nth-of-type(3){
        // -12pxでなく−15pxでちょうど
        transform: translateY(-15px) rotate(45deg);
      }
    }
  }
}
// headerここまで-------------------------------

// main----------------------------------------
main{
  // ヘッダーを固定した分だけ下にずらしておく
  padding-top: $header-height;
  margin-bottom: $space_xxl;
  @include mq(){
    padding-top: $header-height-sm;
    margin-bottom: $space_l;
  }
}
.container{
  width:$site-width;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  @include mq(){
    width:380px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.edit_table{
  width:30%;
  margin-top: $space_xl;
  border-collapse: collapse;
  table-layout:auto;
  width:30%;
  @include mq(){
    width: 100%
  }
  & tr{
    border-bottom: solid 1px $not_edit-color;
    border-top: solid 1px $not_edit-color;
  }
  & tr:first-child{
    border-top:none;
  }
  & td{
    text-align: center;
    padding-top: $space_l;
    padding-bottom: $space_l;
    padding-right: $space_xl;
    width:30%;
    & input{
      border-radius: 4px;
      text-align: center;
      width:100%;
    }
  }
}

.tweet{
  display:flex;
  flex-flow: column;
  margin-left: $space_3l;
  //　「前回の値」と高さを揃える
  margin-top: 35px;
  @include mq(){
    margin-left: $space_l;
    margin-right: $space_l;
  }
  &-show{
    border-radius: 4px;
    border: 1px solid  $not_edit-color;
  }
  &-tips{
    font-size: $font-size_s;
    margin-bottom: $space_m;
  }
}

.past{
  &-time{
    margin-left: $space_l;
  }
}

// footer-----------------------------------------------------
.footer{
  background: $footer-color;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  // TODO：画面の最下部にくる様JS作る
  &-copyright{
    color: #fff;
    margin: 0;
    padding-top: $space_l;
    padding-bottom: $space_l;
  }
}



//footerここまで--------------------------------------

//login-----------------------------------------------------------------
.login{
  width:50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top:1px solid $not_edit-color;
  border-bottom:1px solid $not_edit-color;
  padding-top: $space_xl;
  padding-bottom: $space_xl;
  margin-top: $space_3l;
  // TODO：画面の真ん中にくる様JS作る
  @include mq(){
    width:100%;
  }
  &-sentence{
    font-size:$font-size_xl;
    margin-bottom: $space_l;
  }
  &-btn{
    width:100%;
    @include mq(){
      width:80%;
    }
  }
}
.container-login{
  justify-content: center;
}

//loginここまで----------------------------------------------------------

// format-----------------------------------------------------------------
.make_format{
  width:45%;
  display: flex;
  flex-flow: column;
  margin-top: $space_xxl;
  margin-right: $space_xxl;
  @include mq(){
    width: 100%;
    margin-right: $space_l;    
    margin-left: $space_l;
  }
  &-id{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px $not_edit-color;
    height: 60px;
    margin-bottom: $space_l;
    &-input{
      padding-left: $space_m;
      margin-left: $space_l;
      width:320px;
      border-radius: 4px;
      margin-bottom: $space_l;
      // height: 45px;
      display: block;
      @include mq(){
        width:250px;
      }
    }
  }
  &-hash{
    display: flex;
    flex-flow: column;
    border-bottom: solid 1px $not_edit-color;
    padding-bottom: $space_l;
    margin-bottom: $space_l;
  }
  &-format{
    display: flex;
    flex-flow: column;
    border-bottom: solid 1px $not_edit-color;
    padding-bottom: $space_l;
    margin-bottom: $space_l;
    &-insert-btn{
      display: flex;
      flex-flow: row;
      align-items: center;
      margin-bottom: $space_s;
    }
  }
}

.ex_format{
  width:45%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-top: $space_xxl;
  // margin-right: $space_xxl;
  @include mq(){
    width: 100%;
    margin-right: $space_l;    
    margin-left: $space_l;
  }
  &-hash{
    display: flex;
    flex-flow: column;
    border-bottom: solid 1px $not_edit-color;
    padding-bottom: $space_l;
    margin-bottom: $space_l;
  }
  &-format{
    display: flex;
    flex-flow: column;
    border-bottom: solid 1px $not_edit-color;
    padding-bottom: $space_l;
    margin-bottom: $space_l;
    &:last-child{
      border-bottom: none;
    }
  }
  & textarea{
    font-size:$font-size_s;
    padding-left: $space_m;
    padding-right: $space_m;
  }
}



// formatここまで------------------------------------------------------

// calcday-------------------------------------------------------------

.calcday{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include mq(){
    align-items: stretch;
  }
  & .form-check{
    width:400px;
    border-bottom: 1px solid $not_edit-color;
    padding-top: $space_xl;
    padding-bottom: $space_xl;
    margin-bottom: 0;
    @include mq(){
      width:100%;
    }
    &:last-child{
      border-bottom: none;
    }
    &-label{
      width:500px; 
     }
  }
  & .calc-title{
    font-weight: 800;
    margin-bottom: $space_s;
  }
  .input-group{
    width:400px;
    @include mq(){
      width:350px;
    }
  }
}


// calcdayここまで------------------------------------------------

// 共通パーツ
.main-btn{
  background: $main-color;
  color:#fff;
  padding-top: $space_m;
  padding-bottom: $space_m;
  border-radius: 8px;
}
.fa-twitter{
  margin-right: $space_s;
}
.form-check{
  margin-bottom: $space_l;
}
.label{
  margin-bottom: 0;
  padding-bottom: $space_l;
}
small{
  font-size:$font-size_s;
}
.edit_disabled{
  background: $not_edit-color;
}

.small-btn{
  height: 25px;
  padding:0 $space_m;
  margin-right: $space_l;
  &:first-child{
    margin-left: $space_l;
  }
  &:last-child{
    margin-right: 0;
  }
}
  